.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

.logo img {
  padding: 10px;
}

.nav-bar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  padding: 10px;
}

.nav-bar li:hover{
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}


@media (max-width: 960px){
 .nav-bar{
  display: none;
 }
 .header{
  margin-left: 10px;
 }

}