.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

img {
  padding: 10px;
}

.nav-bar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  padding: 10px;
}
