.showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem;
  padding-top: 0;
}

.showcase h1 {
  font-size: 2rem;
  font-weight: 800;
  color: hsl(240, 100%, 5%);
  margin: 1rem 0;
}

p {
  line-height: 1.8;
  color: hsl(236, 13%, 42%);
}

.wew3d {
  width: 100%;
  height: auto;
  
}

.mobile-img{
  display: none;
}

.showcase .first {
  width: 70%;
  padding: 0;
  padding-right: 15px;
}

.showcase .sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  background-color: hsl(240, 100%, 5%);
  padding: 1.25rem 1.25rem 0;
}
.showcase .sec h2 {
  color: hsl(35, 77%, 62%);
}
.showcase .sec p {
  color: white;
}

.showcase div:first-child article button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
}

.showcase .sec h2 {
  color: hsl(35, 77%, 62%);
}

.showcase .sec article {
  padding: 1.25rem 0;
}

.showcase .sec article:not(:last-child) {
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

.showcase .sec h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.showcase .sec h3:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

.showcase >.sec article:not(:last-child) {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.showcase h3 {
  color: white;
}

.showcase h1 {
  font-size: 2rem;
  font-weight: 800;
  color: hsl(240, 100%, 5%);
  margin: 1rem 0;
}

.showcase .first article p {
  margin-bottom: 1rem;
}

.showcase .first article button {
  background-color: hsl(5, 85%, 63%);
  color: #fff;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-in-out;
}

.showcase .first article button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
}

.artFuture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artFuture h1 {
  padding: 10px;
}

.artFuture div {
  padding: 10px;
}

.artFuture div p {
  margin-bottom: 1rem;
}

@media (max-width: 960px){
  .showcase{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; 
  }
  .showcase .first{
    width: 100%;

  }

  .showcase .first .wew3d {
    display: none;
  }

  .showcase .first .mobile-img {
    display: block;
    width: 100%;
  }

}

